@using FilmDB.Model
@model List<Director>
@{
    ViewData["Title"] = "Directors";
}

<div class="row">
    <div class="col-md-4 text-left">
    </div>
    <div class="col-md-4 text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-4 text-right">
        <a asp-action="Create" class="btn btn-success">Add New</a>
    </div>
</div>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <style>
        .card-img-top {
            height: 400px;
            object-fit: scale-down;
        }
    </style>
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="@item.Image" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Bio</p>
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


</body>
</html>
